body {
    margin: 20px;
    text-align: center;
    border-radius: 20px;
}

input,
select {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-inline: 20px;
    padding-block: 6px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    border-color: #0fe697 #0fe697;
}

input:focus,
select:focus {
    border-color: #0fe697;
}

p {
    font-weight: 600;
    font-size: 16px;
}

button {
    margin-bottom: 10px;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
    background-color: #0fe697;
    border: 0;
    cursor: pointer;

}

button:hover {
    background-color: #0aab70;
    transform: scale(1.05);
    transition: transform 1s;
}

h1 {
    color: #0aab70;
}